<h2>Order ID: <%= @order["id"] %></h2>
<h6>User ID: <%= @order["user_id"] %></h3>
<h6>Product ID: <%= @order["product_id"] %></h6>
<h6>Quantity: <%= @order["quantity"] %></h6>
<h4>Subtotal: <%= @order["subtotal"] %></h4>
<h4>Tax: <%= @order["tax"] %></h4>
<h4>Total: <%= @order["total"] %></h4>