<h1>Order #349000<%= @order['id'] %></h1>
<h4>Customer: <%= @order['user']['email'] %></h4>
<h6>Purchased On: <%= @order['purchased_on'] %></h6>

<h4>Order ID: 30024<%= @order['id'] %></h4>
<h4>Product Name: <%= @order['product']['name'] %></h4>

<img src="<%= @order['product']['images'][0]['url'] %>" height="275" width="300">

<h4>Price: <%= @order['product']['formatted']['price'] %> </h4>
<h4>Quantity: <%= @order['quantity'] %></h4>
<h4>Subtotal: <%= @order['formatted']['subtotal'] %></h4>
<h4>Tax: <%= @order['formatted']['tax'] %></h4>
<h4>Total: <%= @order['formatted']['total'] %></h4>