<h1>Order #349000<%= @order['id'] %></h1>
<h6>Purchased On: <%= @order['purchased_on'] %></h6>
<h4>Customer: <%= @order['user']['email'] %></h4>

<ul>
  <% @order['carted_products'].each do |carted_product| %>
    <li>
      <%= carted_product["product"]["name"] %> -
      <%= carted_product["product"]["price"] %> x
      <%= carted_product["quantity"] %>  
    </li>   
  <% end %>
</ul>

<h4>Subtotal: <%= @order['formatted']['subtotal'] %></h4>
<h4>Tax: <%= @order['formatted']['tax'] %></h4>
<h4>Total: <%= @order['formatted']['total'] %></h4>