<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/client/products/#{@product["id"]}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @product['name'] %>">
  </div>
  <div>
    Price: <input type="text" name ="price" value="<%= @product['price'] %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product['description'] %>">
  </div>
  <div>
    Supplier ID: <input type="text" name="supplier_id" value="<%= @product['supplier']['id']%>">
  </div>
  <input type="submit" value="Update Product">
<% end %>

<%= form_tag "/client/students/#{@student["id"]}", method: :patch do %>
    <% @student["educations"].each do |education| %>
      <div>
        Start Date: <input type="text" name="name" value="<%= education["start_date"] %>">
      </div> 
      <div>
        End Date: <input type="text" name="name" value="<%= education["end_date"] %>">
      </div>
       <div>
        Degree: <input type="text" name="name" value="<%= education["degree"] %>">
      </div>
       <div>
        University Name: <input type="text" name="name" value="<%= education["university_name"] %>">
      </div>
       <div>
        Details: <input type="text" name="name" value="<%= education["details"] %>">
      </div>
      <input type="submit" value="Update Education">
    <% end %>
<% end %>
<%= form_tag "/client/students/#{@student["id"]}", method: :patch do %>
    <% @student["skills"].each do |skill| %>
      <div>
        Skill: <input type="text" name="name" value="<%= skill["skill_name"] %>">
      </div>
      <input type="submit" value="Update Skills">
    <% end %>
<% end %>