<ul>
  <li>
    Sort By
    <ul>
      <li><a href="/client/products?sort_by=price">Price - Low to High</a></li>
      <li><a href="/client/products?sort_by=price&&sort_order=desc">Price - High to Low</a></li>
      <li><a href="/client/products?sort_by=name">Name A -> Z</a></li>
      <li><a href="/client/products?sort_by=name&&sort_order=desc">Name Z -> A</a></li>
    </ul>
  </li>
</ul>

<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="search" placeholder="Find Product">
  <input type="submit" value="Search">
<% end %>

<% @products.each do |product| %>
  <h2> <a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>
  
  <% if product["discounted"] %>
    <h3>Discount Item!</h3>
    <% else %>
    <h3>Everyday Value!</h3>
  <% end %>
  
  <h5 class="<%= "red" if product["discounted"] %>"><%= product["formatted"]["price"] %></h5>  
  
  <h3>Item Description: <%= product["description"] %></h3>
  <img src="<%= product["image_url"]%>" alt="product image" height="150" width="150">
<% end %>