<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MiniCapstone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/client/products/new">Create New Product</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if @jwt %>
              Log Out
              <% else %>
              Sign Up/Log In
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if @jwt %>
              <a class="dropdown-item" href="/logout" data-method="delete">Log Out</a>
              <% else %>
              <a class="dropdown-item" href="/login">Log In</a>
              <a class="dropdown-item" href="/signup">Sign Up</a>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/client/carted_products">My Cart</a>
          </li>
        </ul>
        
        <%= form_tag "/client/products", method: :get, class: "form-inline my-2 my-lg-0" do %>
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="Find Product" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <% end %>

      </div>
    </nav>
    

    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    
    <div class="container">
    <%= yield %>
      
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
