<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/">Home</a>
    <br>
    <a href="/client/products/new">Create New Product</a>
    <br>
    <br>
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/login">Log In</a>
    <br>
    <a href="/logout" data-method="delete">Log Out</a>
    <br>
    <br>
    <a href="/client/carted_products">Cart</a>
    <br>
    <% if @jwt %>
      <h5>You are signed in</h5>
    <% end %>

    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
